<!-- Footer -->
<footer id="footer">
    <section>
        <h3>About</h3>
        <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris.</p>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor.</p>
        <ul class="actions special">
            <li><a href="/generic" class="button large">Read More</a></li>
          </ul>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Address</h3>
            <p>404 Script Av. #55555<br />
            Luisville, IN 19199-2323</p>
        </section>
        <section>
            <h3>Phone</h3>
            <p><a href="#">(001) 353-3939</a></p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="#">info@fluxx.astro</a></p>
        </section>
        <section>
            <h3>Social</h3>
            <ul class="icons alt">
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </section>
    </section>
</footer>

<!-- Copyright -->
<div id="copyright">
    <ul><li>&copy; Fluxx</li><li>Developed in Astro by: <a href="https://digitalbox.gr">Digitalbox</a></li></ul>
</div>

</div>

<!-- Scripts -->
<script is:inline src="/assets/js/jquery.min.js"></script>
<script is:inline src="/assets/js/jquery.scrollex.min.js"></script>
<script is:inline src="/assets/js/jquery.scrolly.min.js"></script>
<script is:inline src="/assets/js/browser.min.js"></script>
<script is:inline src="/assets/js/breakpoints.min.js"></script>
<script is:inline src="/assets/js/util.js"></script>
<script is:inline src="/assets/js/main.js"></script>